.fila__1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spec11 {
    display: inline-block;
    position: absolute;
    align-items: center;
    text-align:justify;
    text-shadow: 10px 10px 10px black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    background-color:$primary-color;;
    border-style: ridge;
    border-color: #192D4B;
    border-radius: 20px;
    padding: 1rem;
    inline-size: 60%;
    list-style-type:circle;
    left: 15%;
    top: 50%;
}

.spec1:hover .spec11 {
    visibility: visible;
    opacity: 1;
}

.specimg1 {
    transition: 0.5s;
}

.specimg1:hover {
    transform: scale(1.2);

}


.spec12 {
    @extend .spec11;
}

.spec2:hover .spec12 {
    visibility: visible;
    opacity: 1;
}

.specimg2 {
    transition: 0.5s;
}

.specimg2:hover {
    transform: scale(1.2);

}


.spec13 {
    @extend .spec11;
}

.spec3:hover .spec13 {
    visibility: visible;
    opacity: 1;
}

.specimg3 {
    transition: 0.5s;
}

.specimg3:hover {
    transform: scale(1.2);

}

.spec14 {
    @extend .spec11;
}

.spec4:hover .spec14 {
    visibility: visible;
    opacity: 1;
}

.specimg4 {
    transition: 0.5s;
}

.specimg4:hover {
    transform: scale(1.2);
}

.spec15 {
@extend .spec11;
}

.spec5:hover .spec15 {
    visibility: visible;
    opacity: 1;
}

.specimg5 {
    transition: 0.5s;
}

.specimg5:hover {
    transform: scale(1.2);
}

.fila__2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
}

.spec16 {
    display: inline-block;
    position: absolute;
    align-items: center;
    text-align:justify;
    text-shadow: 10px 10px 10px black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    background-color:$primary-color;;
    border-style: ridge;
    border-color: #192D4B;
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem;
    margin-top: 8rem;
    inline-size: 60%;
    list-style-type:circle;
    left: 15%;
    top: 76%;
}

.spec6:hover .spec16 {
    visibility: visible;
    opacity: 1;
}

.specimg6 {
    transition: 0.5s;
}

.specimg6:hover {
    transform: scale(1.2);

}

.spec17 {
    @extend.spec16;
}

.spec7:hover .spec17 {
    visibility: visible;
    opacity: 1;
}

.specimg7 {
    transition: 0.5s;
}

.specimg7:hover {
    transform: scale(1.2);

}

.spec18 {
    @extend.spec16;
}

.spec8:hover .spec18 {
    visibility: visible;
    opacity: 1;
}

.specimg8 {
    transition: 0.5s;
}

.specimg8:hover {
    transform: scale(1.2);

}

.spec19 {
    @extend.spec16;
}

.spec9:hover .spec19 {
    visibility: visible;
    opacity: 1;
}

.specimg9 {
    transition: 0.5s;
}

.specimg9:hover {
    transform: scale(1.2);

}

.spec20 {
    @extend.spec16;
}

.spec10:hover .spec20 {
    visibility: visible;
    opacity: 1;
}

.specimg10 {
    transition: 0.5s;
}

.specimg10:hover {
    transform: scale(1.2);
}

@media (max-width:$mobile){
    .spec11{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        inline-size: fit-content;
        margin-right: 1rem;
        margin-left: -2rem;
        margin-top: 5rem;

    }
    .spec12{
        margin-top: 20rem;
    }
    .spec13{
        margin-top: 35rem;
    }
    .spec14{
        margin-top: 52rem;
    }
    .spec15{
        margin-top: 68rem;
    }
    .spec16{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        inline-size: fit-content;
        margin-right: 1rem;
        margin-left: -2rem;
        margin-top: 75rem;
    }
    .spec17{
        margin-top: 90rem;
    }
    .spec18{
        margin-top: 107rem;
    }
    .spec19{
        margin-top: 123rem;
    }
    .spec20{
        margin-top: 138rem;
    }
}

@media (min-width:$tablet){

    .spec11{
        margin-top: 5rem;
    }
    .spec14,.spec15{
        margin-top: 20rem;
    }
    .spec16{
        margin-top: 27rem;
    }
    .spec19,.spec20{
        margin-top: 43rem;
    }
}

@media (min-width:$large){
    .spec11{
        margin-top: 3rem;
    }
    .spec16{
        margin-top: 7rem;
    }
}



