.fila__1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spec11 {
    display: inline-block;
    position: absolute;
    align-items: center;
    text-align:justify;
    text-shadow: 10px 10px 10px black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    background-color:$primary-color;;
    border-style: ridge;
    border-color: #192D4B;
    padding: 1rem;
    inline-size: 60%;
    list-style-type:circle;
    left: 15%;
    top: 50%;
}

.spec1:hover .spec11 {
    visibility: visible;
    opacity: 1;
}

.specimg1 {
    transition: 0.5s;
}

.specimg1:hover {
    transform: scale(1.2);

}


.spec12 {
    display: inline-block;
    position: absolute;
    align-items: center;
    text-align:justify;
    text-shadow: 10px 10px 10px black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    background-color:$primary-color;;
    border-style: ridge;
    border-color: #192D4B;
    padding: 1rem;
    inline-size: 60%;
    list-style-type:circle;
    left: 15%;
    top: 50%;
}

.spec2:hover .spec12 {
    visibility: visible;
    opacity: 1;
}

.specimg2 {
    transition: 0.5s;
}

.specimg2:hover {
    transform: scale(1.2);

}


.spec13 {
    display: inline-block;
    position: absolute;
    align-items: center;
    text-align:justify;
    text-shadow: 10px 10px 10px black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    background-color:$primary-color;;
    border-style: ridge;
    border-color: #192D4B;
    padding: 1rem;
    inline-size: 60%;
    list-style-type:circle;
    left: 15%;
    top: 50%;
}

.spec3:hover .spec13 {
    visibility: visible;
    opacity: 1;
}

.specimg3 {
    transition: 0.5s;
}

.specimg3:hover {
    transform: scale(1.2);

}

.spec14 {
    display: inline-block;
    position: absolute;
    align-items: center;
    text-align:justify;
    text-shadow: 10px 10px 10px black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    background-color:$primary-color;;
    border-style: ridge;
    border-color: #192D4B;
    padding: 1rem;
    inline-size: 60%;
    list-style-type:circle;
    left: 15%;
    top: 50%;
}

.spec4:hover .spec14 {
    visibility: visible;
    opacity: 1;
}

.specimg4 {
    transition: 0.5s;
}

.specimg4:hover {
    transform: scale(1.2);
}

.spec15 {
    display: inline-block;
    position: absolute;
    align-items: center;
    text-align:justify;
    text-shadow: 10px 10px 10px black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    background-color:$primary-color;;
    border-style: ridge;
    border-color: #192D4B;
    padding: 1rem;
    inline-size: 60%;
    list-style-type:circle;
    left: 15%;
    top: 50%;
}

.spec5:hover .spec15 {
    visibility: visible;
    opacity: 1;
}

.specimg5 {
    transition: 0.5s;
}

.specimg5:hover {
    transform: scale(1.2);
}

.fila__2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
}

.spec16 {
    display: inline-block;
    position: absolute;
    align-items: center;
    text-align:justify;
    text-shadow: 10px 10px 10px black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    background-color:$primary-color;;
    border-style: ridge;
    border-color: #192D4B;
    padding: 1rem;
    margin: 1rem;
    inline-size: 60%;
    list-style-type:circle;
    left: 15%;
    top: 76%;
}

.spec6:hover .spec16 {
    visibility: visible;
    opacity: 1;
}

.specimg6 {
    transition: 0.5s;
}

.specimg6:hover {
    transform: scale(1.2);

}

.spec17 {
    display: inline-block;
    position: absolute;
    align-items: center;
    text-align:justify;
    text-shadow: 10px 10px 10px black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    background-color:$primary-color;;
    border-style: ridge;
    border-color: #192D4B;
    padding: 1rem;
    margin: 1rem;
    inline-size: 60%;
    list-style-type:circle;
    left: 15%;
    top: 76%;
}

.spec7:hover .spec17 {
    visibility: visible;
    opacity: 1;
}

.specimg7 {
    transition: 0.5s;
}

.specimg7:hover {
    transform: scale(1.2);

}

.spec18 {
    display: inline-block;
    position: absolute;
    align-items: center;
    text-align:justify;
    text-shadow: 10px 10px 10px black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    background-color:$primary-color;;
    border-style: ridge;
    border-color: #192D4B;
    padding: 1rem;
    margin: 1rem;
    inline-size: 60%;
    list-style-type:circle;
    left: 15%;
    top: 76%;
}

.spec8:hover .spec18 {
    visibility: visible;
    opacity: 1;
}

.specimg8 {
    transition: 0.5s;
}

.specimg8:hover {
    transform: scale(1.2);

}

.spec19 {
    display: inline-block;
    position: absolute;
    align-items: center;
    text-align:justify;
    text-shadow: 10px 10px 10px black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    background-color:$primary-color;;
    border-style: ridge;
    border-color: #192D4B;
    padding: 1rem;
    margin: 1rem;
    inline-size: 60%;
    list-style-type:circle;
    left: 15%;
    top: 76%;
}

.spec9:hover .spec19 {
    visibility: visible;
    opacity: 1;
}

.specimg9 {
    transition: 0.5s;
}

.specimg9:hover {
    transform: scale(1.2);

}

.spec20 {
    display: inline-block;
    position: absolute;
    align-items: center;
    text-align:justify;
    text-shadow: 10px 10px 10px black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    background-color:$primary-color;;
    border-style: ridge;
    border-color: #192D4B;
    padding: 1rem;
    margin: 1rem;
    inline-size: 60%;
    list-style-type:circle;
    left: 15%;
    top: 76%;
}

.spec10:hover .spec20 {
    visibility: visible;
    opacity: 1;
}

.specimg10 {
    transition: 0.5s;
}

.specimg10:hover {
    transform: scale(1.2);

}