.factions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 1rem;
    padding-top: 2rem;  
}

.factions2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    padding-right: 2rem;
}

.factimg1 {
    transition: 0.5s;
    width: 20%;
}


.factdesc1 {
    inline-size: 43%;
    padding-top: 4rem;
    justify-content: center;
    font-style: italic;
    font-size: 25px;
    @include textformat;
    padding: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.factions:hover .factdesc1 {
    visibility: visible;
    opacity: 1;
}

.factimg2 {
    width: 20%;
    transition: 0.5s;
}

.factimg1:hover{
    transform: scale(1.1);
}

.factions2:hover .factdesc1 {
    visibility: visible;
    opacity: 1;
}

.factimg2:hover {
    transform: scale(1.1);
}

.factdesc2 {
    font-style: italic;
    font-size: 20px;
    @include textformat;
    padding: 1rem;
}

.factdesk{
    display: none;
}

@media (min-width:$tablet){
    .factionscar,.factionscar2{
        display: flex;
        flex-direction: row;
        padding: 1rem;
        margin-top: 1rem;
    }
    .factdesc2{
        width: 50%;
    }
    .carfaction{
        width: 350px;
    }
}

@media (min-width:$smalldesk){
    .factionscar,.factionscar2{
        display: none;
    }
    .factdesk{
        display:contents;
        }
}