.updates-desk {
    display: none;
}

.features-desk {
    display: none;
}

.media2 {
    display: none;
}

.mediatitle {
    display: none;
}

@media (max-width:$mobile) {
    .nav-link,
    .dropdown-item{
        font-size:18px;
    }
}

@media (min-width:$tablet) {
    .video {
        height: 480px;
    }
}

@media (min-width:$smalldesk) {
    body {
        background-image: url(../img/wallpaper.jpg);
    }

    .nav-lista {
        gap: 4rem;
    }

    h1 {
        font-size: 4rem;
    }

    #title {
        display: flex;
        font-size: 2rem;
        margin-top: 18rem;
    }
    .dropdown-item {
        background-color:$primary-color;
    }
    .medias {
        display: none;
    }
    .features1 {
        display: none;
    }
    .features2 {
        display: none;
    }

    .updates {
        display: none;
    }

    .updates-desk {
        display: flex;
        flex-direction: column;

    }

    .features-desk {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        align-self: flex-start;
        inline-size: 40%;
        border: $tertiary-color;
        border-style: hidden;
        position: absolute;
        right: 1rem;
        top: 51rem;
    }
    
    .feat1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        margin-bottom: 8rem;
    }
    
    .featdesc1 {
        @include textformat;
        position:absolute;
        bottom: 0;
        margin: 1rem;
        color: $tertiary-color;
        font-size: 18px;
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s, visibility .2s;
        }
    
    .feat1:hover {
        &  .featdesc1{
            visibility: visible;
            opacity: 1;
        }
    }
    
    .ft {
        @include textformat;
        color: $tertiary-color;
    }

    .ft2 {
        @include textformat;
        font-size: 30px;

    }

    .updates-desk {
        background-color: rgba(27, 51, 85, 0.6);
        display: inline-block;
        inline-size: 50%;
        text-align: justify;
        text-shadow: 2px 2px 4px #000000;
        color: $tertiary-color;
        font-size: 24px;
        margin-left: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        image-resolution: 1rem;
        list-style: square;
        border-color: #192D4B;
        border-style: ridge;
        border-radius: 10px;
        margin-top: 2rem;
    }

    .newsimg {
        padding: 1rem;
    }

    .media2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
        gap: 2rem;
    }

    .mediatitle {
        display: flex;
        padding-top:2rem;
        justify-content: center;
    }
}

@media (min-width:$laptop) {

    #title{
        margin-top: 18rem;
    }
    .features-desk {
        top:51rem;
    }
}

@media (min-width:$large) {
    .features-desk {
        top: 52rem;
    }

    .featdesc1 {
        font-size: 25px;
        padding: 1rem;
    }
}
.carousel-caption {
    text-shadow: 2px 2px 4px #000000;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 1rem;
    font-size: 20px;
}

@media (min-width:$xlarge){
    .features-desk {
        margin-top: 11rem;
    }

    #title {
        margin-top: 36rem;
    }
}

.features {
    display: flex;
    text-align: center;
    color: $tertiary-color;
    text-shadow: 2px 2px 4px #000000;
    padding: 1rem;
}

.btn {
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.4rem;
    color: $quaternary-color;
    background-color: $primary-color;
    margin: 1rem;
    --bs-btn-color: $tertiary-color;
    --bs-btn-bg: $primary-color;
    --bs-btn-border-color: $primary-color;
    --bs-btn-hover-color: $tertiary-color;
    --bs-btn-hover-bg: $primary-color;
    --bs-btn-hover-border-color: $primary-color;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: $tertiary-color;
    --bs-btn-active-bg: $primary-color;
    --bs-btn-active-border-color: $primary-color;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: $tertiary-color;
    --bs-btn-disabled-bg: $primary-color;
    --bs-btn-disabled-border-color: rgba(28, 43, 74, 0.8);
}

.card-body {
    background-color: rgba(28, 43, 74, 0.6);
    color:$tertiary-color;
    list-style: square;
    text-shadow: 2px 2px 4px #000000;
    margin: 1rem;
    text-align: justify;
}

#carouselExample {
    margin: 5px;
}
