.store-items {
    @extend .pageitems;
    margin-top: 3rem;
}

.cardstore {
    --bs-card-bg:rgba(0, 225, 255,0.5);
    border-radius: 15px;
}

.storebody {
    background-color:$primary-color;
    border-radius: 15px;
}

.storebtn {
    @extend .pagesbtn;
    color: $secondary-color;
}

.titlecard {
    text-align: center;
    color: $secondary-color;
}

#clothing,
#collectibles,
#gaming,
#all {
    display: none;
}

.filtro{
    display: flex;

    &:hover{
        cursor: pointer;
        color:$secondary-color;
        transition: 0.5s;
    }
}

.options-container {
    @include containers;
    margin-top: 1rem;
    font-size: 20px;
}

.cardpc,
.cardcollect,
.cardcloth {
    display: none;
}

#clothing:checked ~ .cards-container .cardcloth,
#collectibles:checked ~ .cards-container .cardcollect,
#gaming:checked ~ .cards-container .cardpc {
    display: flex;
}

#all:checked ~ .cards-container .cardcloth,
#all:checked ~ .cards-container .cardcollect,
#all:checked ~ .cards-container .cardpc {
    display: flex;
}

@media (min-width:$tablet) {
    .store-items{
        grid-template-columns: repeat(2,1fr);
        gap: 3rem;
    }
    .options-container {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-top: 1rem;
        justify-content: center;
        font-size: 22px;
    }
}

@media (min-width:$laptop) {
    .store-items{
        grid-template-columns:repeat(3,1fr);
        gap: 3rem;
    }
    .options-container {
        gap: 3rem;
        margin-top: 1rem;
        font-size: 24px;
    }
}

@media (min-width:$large) {
    .store-items{
        grid-template-columns:repeat(4,1fr);
        gap: 3rem;
    }
}